<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login - Flavour Palette</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <link rel="stylesheet" type="text/css" th:href="@{../../css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../../css/navbar.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../../css/userform.css}" />
    <script src="https://accounts.google.com/gsi/client" async></script>
    <script src="https://kit.fontawesome.com/4c536a6bd5.js" crossorigin="anonymous" type="text/javascript"></script>
    <title>Login</title>
</head>
<body>
    <header>
        <div th:if="${loginId}" th:remove="tag">
            <div th:insert="~{components/logged-in-navbar}" th:remove="tag"></div>
        </div>
        <div th:unless="${loginId}">
            <div th:insert="~{components/guest-navbar}" th:remove="tag"></div>
        </div>
    </header>
    <main>
        <div class="page-contents">
            <div class ="userform-contents two-rem-top-gap">
                <div class = "form-body">
                    <h1>Sign In</h1>
                    <div th:if="${LoadUserFailed}" th:remove="tag">
                        <h5 style="color:red;">An error has occurred, please log in and try again</h5>
                    </div>
                    <form th:action="@{/authenticate}" method="POST" class="form-box">
                        <div class="field-box">
                            <div th:if="${GeneralError}" th:remove="tag">
                                <h5 style="color:red;">Unable to login - try again</h5>
                            </div>
                            <div class="name">
                                <label class="form-label" for="username">Email</label>
                                <input type="email" class="form-name" placeholder="example@demo.com"
                                       id="username" name="username" th:required="required" />
                            </div>
                            <div th:if="${loginId}" th:remove="tag">
                                <h5 style="color:red;">You are already signed in</h5>
                            </div>
                            <div class="password">
                                <label class="form-label" for="password">Password</label>
                                <input type="password" class="form-name"
                                       id="password" name="password" th:required="required" />
                            </div>
                            <div th:if="${UserDetailsError}" th:remove="tag">
                                <h5 style="color:red;">Please check user details and try again</h5>
                            </div>
                        </div>
                        <div class="save">
                            <button type="submit" class="green-btn-dark save-btn">Sign In</button>
                        </div>
                    </form>
                    <div class="border"></div>
                    <div class="google-login">
                        <a th:href="@{/google-login}">
                            <div class="google-btn">
                                <img th:src="@{../images/google-logo.svg}" class="google-btn-icon" alt="Google Sign In Icon"/>
                                <p class="google-text">Sign in with Google</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer" id="footer">
        <p>Copyright © 2023 SanctusFides</p>
        <a href="https://github.com/SanctusFides" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </footer>
</body>
</html>